<!-- <ul id="menu">
  <li class="hideBullet">
    <input id="check01" type="checkbox" name="menu" class="menu" />
    <label for="check01">Tasto menu 01</label>
    <ul class="submenu">
      <li><a href="#">Sotto menu 1</a></li>
      <li><a href="#">Sotto menu 2</a></li>
    </ul>
  </li>
</ul>


 -->


<ul id="menu" class="hideBullet">
  <li>
    <input id="check01" type="checkbox" name="menu" class="menu" />
    <label for="check01" class="pairFlex">
        <img class="imgCoin" src="img/wB-bg-KATALYST.svg" />
        <h1>Buy/Sell in KDEX</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KDEX' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul>

<!--  CHANGE input ID and label for="" 
      change == '' and BUY/SELL
       -->

<ul id="menu" class="hideBullet">
  <li>
    <input id="check02" type="checkbox" name="menu" class="menu" />
    <label for="check02" class="pairFlex">
        <img class="imgCoin" src="img/IKI.png" />
        <h1>Buy/Sell ikicoin</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'IKI' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul>

<!-- <h1>Buy/Sell in KDEX</h1> 

           <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KDEX' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div> -->

<!-- <h1>Buy/Sell ikicoin</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'IKI' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div> -->
<ul id="menu" class="hideBullet">
  <li>
    <input id="check03" type="checkbox" name="menu" class="menu" />
    <label for="check03" class="pairFlex">
        <img class="imgCoin" src="img/SGD.png" />
        <h1>Buy/Sell kSGD</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'SGD' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul>

<!-- <h1>Buy/Sell kSGD</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'SGD' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>         -->  

<ul id="menu" class="hideBullet">
  <li>
    <input id="check04" type="checkbox" name="menu" class="menu" />
    <label for="check04" class="pairFlex">
        <img class="imgCoin" src="img/HOTX.png" />
        <h1>Buy/Sell HotCoin</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'HOTX' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul>          

<!-- <h1>Buy/Sell HotCoin</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'HOTX' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>      -->           

<ul id="menu" class="hideBullet">
  <li>
    <input id="check05" type="checkbox" name="menu" class="menu" />
    <label for="check05" class="pairFlex">
        <img class="imgCoin" src="img/KLTC.png" />
        <h1>Buy/Sell kLTC</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KLTC' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul>   

<!-- <h1>Buy/Sell kLTC</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KLTC' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>  -->                         

<ul id="menu" class="hideBullet">
  <li>
    <input id="check06" type="checkbox" name="menu" class="menu" />
    <label for="check06" class="pairFlex">
        <img class="imgCoin" src="img/KETH.png" />
        <h1>Buy/Sell kETH</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KETH' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul> 

<!-- <h1>Buy/Sell kETH</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KETH' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>    -->        

<ul id="menu" class="hideBullet">
  <li>
    <input id="check07" type="checkbox" name="menu" class="menu" />
    <label for="check07" class="pairFlex">
        <img class="imgCoin" src="img/KBCH.png" />
        <h1>Buy/Sell kBCH</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KBCH' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul> 
 
<!-- <h1>Buy/Sell kBCH</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KBCH' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>      -->        

<!-- <h1>Buy/Sell kBCH</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KBCH' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>       -->      

<ul id="menu" class="hideBullet">
  <li>
    <input id="check08" type="checkbox" name="menu" class="menu" />
    <label for="check08" class="pairFlex">
        <img class="imgCoin" src="img/KBTC.png" />
        <h1>Buy/Sell kBTC</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KBTC' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul> 

<!-- <h1>Buy/Sell kBTC</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KBTC' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>        -->               

<ul id="menu" class="hideBullet">
  <li>
    <input id="check09" type="checkbox" name="menu" class="menu" />
    <label for="check09" class="pairFlex">
        <img class="imgCoin" src="img/KWAVES.png" />
        <h1>Buy/Sell kWAVES</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KWAVES' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul> 

<!-- <h1>Buy/Sell kWAVES</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'KWAVES' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>   -->                    
<ul id="menu" class="hideBullet">
  <li>
    <input id="check10" type="checkbox" name="menu" class="menu" />
    <label for="check10" class="pairFlex">
        <img class="imgCoin" src="img/VAI.png" />
        <h1>Buy/Sell Violet</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'VAI' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
    </ul>
  </li>
</ul> 

<!-- <h1>Buy/Sell Violet</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'VAI' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>     -->              
<ul id="menu" class="hideBullet">
  <li>
    <input id="check11" type="checkbox" name="menu" class="menu" />
    <label for="check11" class="pairFlex">
        <img class="imgCoin" src="img/VEX.png" />
        <h1>Buy/Sell Vexanium</h1> 
    </label>
    <ul class="submenu">
          <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'VEX' " 
               ng-click="$ctrl.onClick(p)"> 
              
                  <li class="pairFlex">
                    <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
                    <div class="grid-item">{{p.priceAsset.displayName}}</div>
                  </li>

          </div>
      <div class="excess"></div>
    </ul>
  </li>
</ul> 



<!-- <h1>Buy/Sell Vexanium</h1>

            <div class="pair minW pairFlex"
               ng-repeat="p in $ctrl.pairs"
               ng-show="p.amountAsset.shortName == 'VEX' " 
               ng-click="$ctrl.onClick(p)"> 

               <img class="imgCoin grid-item" src="img/{{p.priceAsset.shortName}}.png" />
               <div class="grid-item">{{p.priceAsset.displayName}} </div>

          </div>                           -->