@import "../variables";

@color-favorite-still: @color-turquoise;
@color-favorite-hover: saturate(@color-mid-blue, 20%);
@color-traded-still: @color-turquoise;
@color-traded-hover: saturate(@color-mid-blue, 20%);

waves-dex-favorites {
  display: block;
  width: 100%;
  margin-top: 15px;

  h2 {
    margin-bottom: 12px;
  }

  .pairs-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: @color-white;
    min-width: 230px;

    .pair,
    .action {
      display: grid;
      grid-template-columns: 50px 120px 50px;
      padding: 5px 10px;
      margin: 0 4px 4px 0;
      // margin: 0 20px 18px 0;
      border-radius: 4px;
      text-align: center;
      user-select: none;
      cursor: pointer;
    }

    .pair {
      background: @color-favorite-still;
      &:hover {
        background: @color-favorite-hover;
      }
    }

    .action {
      font-weight: bold;
      background: lighten(@color-favorite-still, 15%);
      color: @color-white;
      &:hover {
        background: lighten(@color-favorite-hover, 15%);
      }
    }
  }
}


.imgCoin {
  width: 40px;
  height: 40px;
  margin: 3px;
}

.minW {
  text-align: center;
}

.grid-item {
  padding: 2px;
  text-align: left;
}

.dropbtn {
    background-color: @color-button;
    display: grid;
    grid-template-columns: auto auto;
    color: @color-button-font;
    padding: 7px;
    margin: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    min-width: 150px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: @color-button-hover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {opacity: 0.8;}

.show {display: block;}

.pairGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.pairFlex {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}


 
/*hide the inputs*/
input.menu {
  display:none;
  list-style-type:none;
  padding: 3px;
}

input.menu:checked + .menu{
  background: @color-button-border;
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:1000px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:@color-button-border;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:270px;
}

ul.submenu li:hover {
  background: @color-table-row-odd;
  min-width:270px;
}

ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
}

ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
}


.hideBullet {
  list-style-type:none; 
}